.button1 {
    -fx-background-color: transparent;
}

.button1:hover {
    -fx-border-color: #d0d0d0;
}

.text-area:hover {
    -fx-text-fill: #404044;
    -fx-background-color: #d0d0d0;
}

.text-field:hover {
    -fx-text-fill: #404044;
    -fx-border-color: #d0d0d0;
}

.about {
 -fx-background-color: transparent;
 }

.box{
-fx-border-color: #d0d0d0;
}

.chart-line-symbol {
-fx-background-color: #d0d0d0, white;
-fx-symbol-image: url("/images/point.png");
-fx-background-insets: 0,2;
-fx-background-radius: 1px;
-fx-padding: 0px;
}

.default-color0-chart-symbol{
-fx-background-color: #d0d0d0, white;
-fx-background-insets: 0,1;
-fx-background-radius: 0.1px;
-fx-padding: 0.0px;
-fx-symbol-color: #404044;
}
