.button1 {
    -fx-background-color: transparent;
}

.button1:hover {
    -fx-border-color: #d0d0d0;
}
.box{
-fx-border-color: #d0d0d0;
-fx-background-color: transparent;
}

.box:hover {
-fx-border-color: BLUE;
}

.onHover{
    -fx-background-color: BLUE;
}

.stackPane {
 -fx-background-color: transparent;
}

.HD-table-view {
-fx-font-size: 10px;
}

/*
.chart-line-symbol {
-fx-background-color: #d0d0d0, white;
-fx-background-insets: 0,1;
-fx-background-radius: 1px;
-fx-padding: 0px;
-fx-symbol-color: #404044;
}
*/
